In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sk

In [2]:
df = pd.read_csv("data.csv")

## Data Exploration

In [3]:
df.describe()

,Year_Factor,floor_area,year_built,energy_star_rating,ELEVATION,january_min_temp,january_avg_temp,january_max_temp,february_min_temp,february_avg_temp,...,days_above_80F,days_above_90F,days_above_100F,days_above_110F,direction_max_wind_speed,direction_peak_wind_speed,max_wind_speed,days_with_fog,site_eui,id
count,75757.000000,7.575700e+04,73920.000000,49048.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,...,75757.000000,75757.000000,75757.000000,75757.000000,34675.000000,33946.000000,34675.000000,29961.000000,75757.000000,75757.000000
mean,4.367755,1.659839e+05,1952.306764,61.048605,39.506323,11.432343,34.310468,59.054952,11.720567,35.526837,...,82.709809,14.058701,0.279539,0.002442,66.552675,62.779974,4.190601,109.142051,82.584693,37878.000000
std,1.471441,2.468758e+05,37.053619,28.663683,60.656596,9.381027,6.996108,5.355458,12.577272,8.866697,...,25.282913,10.943996,2.252323,0.142140,131.147834,130.308106,6.458789,50.699751,58.255403,21869.306509
min,1.000000,9.430000e+02,0.000000,0.000000,-6.400000,-19.000000,10.806452,42.000000,-13.000000,13.250000,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,12.000000,1.001169,0.000000
25%,3.000000,6.237900e+04,1927.000000,40.000000,11.900000,6.000000,29.827586,56.000000,2.000000,31.625000,...,72.000000,6.000000,0.000000,0.000000,1.000000,1.000000,1.000000,88.000000,54.528601,18939.000000
50%,5.000000,9.136700e+04,1951.000000,67.000000,25.000000,11.000000,34.451613,59.000000,9.000000,34.107143,...,84.000000,12.000000,0.000000,0.000000,1.000000,1.000000,1.000000,104.000000,75.293716,37878.000000
75%,6.000000,1.660000e+05,1977.000000,85.000000,42.700000,13.000000,37.322581,62.000000,20.000000,40.879310,...,97.000000,17.000000,0.000000,0.000000,1.000000,1.000000,1.000000,131.000000,97.277534,56817.000000
max,6.000000,6.385382e+06,2015.000000,100.000000,1924.500000,49.000000,64.758065,91.000000,48.000000,65.107143,...,260.000000,185.000000,119.000000,16.000000,360.000000,360.000000,23.300000,311.000000,997.866120,75756.000000

In [4]:
from sklearn.impute import SimpleImputer

si = SimpleImputer(strategy='median')
dmws = df.loc[:, ('days_with_fog', 'energy_star_rating')]

In [5]:
dmws

       days_with_fog  energy_star_rating
0                NaN                11.0
1               12.0                45.0
2               12.0                97.0
3               12.0                46.0
4                NaN               100.0
...              ...                 ...
75752            NaN                 8.0
75753            NaN                98.0
75754            NaN                 NaN
75755            NaN                 NaN
75756            NaN                51.0

[75757 rows x 2 columns]

In [6]:
dmws * [2, 3]

       days_with_fog  energy_star_rating
0                NaN                33.0
1               24.0               135.0
2               24.0               291.0
3               24.0               138.0
4                NaN               300.0
...              ...                 ...
75752            NaN                24.0
75753            NaN               294.0
75754            NaN                 NaN
75755            NaN                 NaN
75756            NaN               153.0

[75757 rows x 2 columns]

In [10]:
es = df.loc[:, ('avg_temp', 'site_eui')]

In [11]:
es.std(axis=1)

0        135.559450
1         21.547278
2         22.824688
3          6.056848
4         37.528425
            ...
75752     54.992310
75753     11.076028
75754      0.348742
75755    384.744965
75756     14.122841
Length: 75757, dtype: float64

In [46]:
es_mean = np.repeat(es.mean(axis=1).values.reshape(-1, 1), 2, 1)

In [57]:
(((es - es_mean)**2).sum(axis=1) / (es.shape[1]-1))**0.5

0        135.559450
1         21.547278
2         22.824688
3          6.056848
4         37.528425
            ...
75752     54.992310
75753     11.076028
75754      0.348742
75755    384.744965
75756     14.122841
Length: 75757, dtype: float64

In [42]:
es_mean

array([[152.82760912,  41.73637623,  40.83311101, ...,  48.15779998,
        319.96697629,  39.14104086],
       [152.82760912,  41.73637623,  40.83311101, ...,  48.15779998,
        319.96697629,  39.14104086]])

In [ ]:
df.loc[:, ('days_with_fog', 'energy_star_rating')].dtypes

In [ ]:
df = df.drop("id", axis=1)

In [ ]:
df.shape[0] - df.count()[df.count() < df.shape[0]]

Look into missing building years

In [ ]:
df.loc[df["year_built"].isna()]

There is no clear indication why these years are missing, since its only a few (~1k/75k) we could drop them. But lets first look into the distribution of year_built of the whole dataset.

In [ ]:
df.loc[(df["year_built"] >= 1800 & ~df["year_built"].isna()), "year_built"].shape

There are also outliers of buildings older than 1800. Lets first remove all of them.

In [ ]:
df["year_built"].plot(kind="box")

In [ ]:
q1 = df["year_built"].quantile(0.25)
q3 = df["year_built"].quantile(0.75)
lower_whisker = q1 - 1.5*(q3-q1)
print(lower_whisker)

In [ ]:
df = df.loc[((df["year_built"] >= lower_whisker) & ~df["year_built"].isna())]

Now lets look into the energy_star_rating.

In [ ]:
df["energy_star_rating"].hist()

In [ ]:
df["energy_star_rating"].plot(kind='box')
print(df["energy_star_rating"].mean())
print(df["energy_star_rating"].median())

Lets first try to replace values by the median.

Same for max_wind_speed and days_with_fog.

In [ ]:
df.loc[df["max_wind_speed"] < 10,"max_wind_speed"].sort_values()

In [ ]:
df.loc[df["max_wind_speed"] >= 10,"max_wind_speed"].hist()

In [ ]:
df.loc[df["max_wind_speed"] >= 10,"max_wind_speed"].sort_values()

We have more than 50% missing value and about 33% the value 1.0, hence the quality of this feature is unclear. Either drop or binarize, but if the later, than how?
Or replace by median (1.0)?

In [ ]:
df["days_with_fog"].plot(kind="box")

even more data missing here, first approach replace by median.

Now lets look into the direction columns and see if it makes any sense to replace them somehow.

In [ ]:
df.loc[:, "direction_max_wind_speed"].hist(bins=100)

In [ ]:
df.loc[:, "direction_peak_wind_speed"].hist(bins=100)

In [ ]:
from sklearn.feature_selection import mutual_info_regression

In [ ]:
df_wind = df.loc[:, ("max_wind_speed", "direction_max_wind_speed", "direction_peak_wind_speed", "site_eui")].dropna()
X = df_wind.loc[:, ("max_wind_speed", "direction_max_wind_speed", "direction_peak_wind_speed")]
y = df_wind.loc[:, "site_eui"]

In [ ]:
X.shape, y.shape

In [ ]:
mutual_info_regression(X, y)

since the mutual information is very small for all these values, it doesn't seem interesting to keep them.

In [ ]:
for key in ("max_wind_speed", "direction_max_wind_speed", "direction_peak_wind_speed"):
    df = df.drop(key, axis=1)

In [ ]:
df.head()

In [ ]:
df_fog = df.loc[:, ("days_with_fog", "site_eui")].dropna()
X = df_fog.loc[:, ("days_with_fog")]
y = df_fog.loc[:, "site_eui"]

In [ ]:
mutual_info_regression(np.array(X).reshape(-1, 1), y)

In [ ]:
df_rating = df.loc[:, ("energy_star_rating", "site_eui")].dropna()
X = df_rating.loc[:, "energy_star_rating"]
y = df_rating.loc[:, "site_eui"]

In [ ]:
mutual_info_regression(np.array(X).reshape(-1, 1), y)

this mutual information is considerably large, lets keep it, replacing nan by median

Solution for treating the NaN columns:
- wind columns: drop columns
- year_built: drop rows, cut outliers ("boxplot method")
- energy_star_rating, fog replace by median

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
aux = df.loc[:, ("State_Factor", "building_class", "facility_type")]
aux.drop_duplicates("State_Factor").shape

In [ ]:
aux.drop_duplicates("building_class")

In [ ]:
aux.drop_duplicates("facility_type").shape

In [ ]:
aux.groupby("facility_type").count()

In [ ]:
aux.loc[:, "State_Factor"].value_counts()

most of the data is uncategorized in facility type, we could drop that column, we will start working without the categorical values.

In [ ]:
df.replace({"building_class": "Commercial"}, -1).replace({"building_class": "Residential"}, 1).info()

In [ ]:
df.loc[:, "floor_area"].hist(bins=100)

In [ ]:
df.loc[:, "ELEVATION"].hist(bins=50)

In [ ]:
df.loc[:, "cooling_degree_days"].hist(bins=100)

In [ ]:
df.loc[:, "heating_degree_days"].hist(bins=100)

In [ ]:
df.loc[:, "precipitation_inches"].hist(bins=100)

In [ ]:
df.loc[:, "snowfall_inches"].hist(bins=100)

In [ ]:
df.loc[:, "snowdepth_inches"].hist(bins=100)

In [ ]:
df.loc[:, "avg_temp"].hist(bins=100)

In [ ]:
df.loc[:, "august_avg_temp"].hist(bins=100)

In [ ]:
df.loc[df["year_built"] >= 1897, "year_built"].hist(bins=100)

maybe this should be binned

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer

In [ ]:
disc = KBinsDiscretizer(n_bins=7, strategy="uniform", subsample=None, encode="ordinal")
yb = np.array(df.loc[df["year_built"] >= 1897, "year_built"]).reshape(-1, 1)
disc.fit(yb)
yb_binned = disc.transform(yb)

In [ ]:
disc.bin_edges_

In [ ]:
import scipy

In [ ]:
z = np.abs(scipy.stats.zscore(df.loc[:, df.select_dtypes(include='number').columns]))

In [ ]:
z

In [ ]:
df.loc[:, df.select_dtypes(include='number').columns]

In [ ]:
print((z == z).prod(axis=1).sum())
print((z <= 3).prod(axis=1).sum())

In [ ]:
df.select_dtypes(include='number').columns

In [ ]:
q1,q3 = np.percentile(df.loc[:, ['year_built', 'ELEVATION']],[25,75])
IQR = q3-q1
upper = df.loc[:, ['year_built', 'ELEVATION']] > (q3+1,5*IQR)
lower = df.loc[:, ['year_built', 'ELEVATION']] < (q1-1,5*IQR)
# Position of the outlier
print(np.sum(lower), np.sum(upper))

In [ ]:
df.loc[df['year_built'] > 1950]

In [ ]:
df.loc[:, ['year_built', 'Year_Factor', 'building_class']].median()

In [ ]:
x = df['building_class'].mode()

In [ ]:
df.info()

In [ ]:
df.fillna(x).info()

In [ ]:
import sklearn
ohc = sklearn.preprocessing.OneHotEncoder(sparse_output=False)

In [ ]:
h = ohc.fit_transform(df.loc[:, df.select_dtypes(exclude='number').columns])

In [ ]:
h

In [ ]:
df.select_dtypes(exclude='number').shape

In [ ]:
scaler = sklearn.preprocessing.StandardScaler()

In [ ]:
df.dropna(inplace=True)

In [ ]:
j = scaler.fit_transform(df.select_dtypes(include='number'))

In [ ]:
h.shape, j.shape

In [ ]:
np.concatenate((h,j), axis=1).shape

In [ ]:
df.select_dtypes(include='number')

In [ ]:
df.loc[:, df.columns.str.endswith('avg_temp')]